{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: powderblue;
}
nav  {
	  overflow: hidden;
	  background-color:  #004953;
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	  width: 100%;
	  display: flex;
	}
ul {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	display: flex;

}
ul li {
	width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 li a:hover:not(.active) {
  background-color: #8db600;
}

.active {
  background-color: #04AA6D;
}
#h2-only	{
	text-align:  center;
	background-color: #004953;
	display: inline-flex;
	color:  white;
}

#teams button {
	color: white;
	font-weight: bold;
	background-color: #8db600;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	display: flex;
	text-align: center;
	margin: auto;


}
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
  padding-left: 10px;
}
#teams
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

#teams .picture
{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #004953;

}
#teams h2 {

	margin-bottom: 1rem;
	text-align: center;
	color:  #8db600;

}
.picture h2, .picture img {
	margin-bottom:  2rem;
}
#teams h3 {
	text-align: center;
/*	padding-left: 50px;
*/		color:  #8db600;

}
#teams p {
	text-align: justify;
}
#pre-footer{
	padding: 1rem;
	background-color: #004953;
	color: white;
}

#pre-footer > div	{
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
#pre-footer >div> * {
	margin-top: 0.3rem ;
	margin-bottom: 0.3rem;

}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
footer {
	padding: 0.7rem;
}